.card {
    width: 200px;
    height: 150px;
    margin: 15px 45px;
    box-shadow: 5px 6px 12px 1px #999, 0 4px 20px #62008f;
    border: 3px solid white;
    border-radius: 30px;
    overflow: hidden;
  }

img {
  width: 200px;
  height: 150px;
  border-radius: 28px;

}

img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
