.footer{
	background-color: #62008f;
	width: 100%;
	position: relative;
    left: 0;
    bottom: -50px;
    right: 0;
	box-shadow: 0 -3px 7px 1px #999, 0 3px 6px #62008f;
}

.footer p, a{
	color: #fff;
	text-align: center;
	font-size: 15px;
}

a:hover{
	font-size: 14px;
}